@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* color: #f9fafb; */
}

span {
  font-family: "Sarabun", sans-serif;
}
